.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 90%;
  max-width: 400px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.button button {
  margin-top: 30px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #4ECCA3;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button button:hover {
  background-color: #8f8283;
}

.button button:active {
  background-color: #89b1a4;
}

/* Media Query for phone screens */
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  img {
    max-width: 200px;
  }

  .button button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
}